#search {
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: 20px;
}
#songlist-container {
	position: absolute;
	top: 80px;
	bottom: 120px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#stats {
	position: absolute;
	bottom: 1px;
	right: 1px;
	font-size: 9px;
	line-height: 9px;
}
#stats a {
	color: #bbbbbb;
}
#stats a:hover {
	color: #dddddd;
	text-decoration: none;
}
#controls {
	position: absolute;
	bottom: 60px;
	width: 100%;
	text-align: center;
}
#loading {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000000;
	opacity: .70;
	filter: alpha(opacity=70);
	text-align: center;
}
#loading i {
	position: relative;
	font-size: 150px;
	margin-top: 10%;
}
#loadall {
	font-size: 20px;
	position: absolute;
	bottom: 100px;
	right: 0;
	padding-right: 1px;
	cursor: pointer;
	color: #555555;
	display: none;
	transition:.4s;
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
}
#loadall:hover {
	color: #000000;
}
#login {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000000;
	opacity: .90;
	filter: alpha(opacity=90);
	text-align: center;
	display: none; 
}
#login form {
	position: relative;
	background-color: #dddddd;
	padding: 50px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999999;
	text-align: center;
	display: inline-block;
	margin-top: 10%;
}
#basket {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
#basket-container {
	background-color: #ffffff;
	font-size: 0.85em;
	width: 540px;
	margin: 0 auto;
	height: auto;
	max-height: 0;
	display: none;
	overflow: auto;
}
#basket-container table {
	margin-bottom: 0;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
#basket-container td {
	line-height: 0.85em;
}
.incorrect-login {
	background-color: #f2dede !important;
}
.basket-shown #basket-container {
	display: block;
}
.basket-shown .btn-group > .btn:first-child {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.basket-shown .btn-group > .btn:last-child {
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}
.basket-shown tr:first-child > td {
	border-top: 0;
}
#basket .icon-caret-down {
	display: none;
}
.now-playing {
	font-weight: bold;
	font-style: italic;
}
.input-thick {
	text-align: center;
}
.input-thick .add-on {
	height: 22pt;
	font-size: 22pt;
}
.input-thick input {
	width: 60%;
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
	height: 22pt;
}
.btn-progress {
	width: 100px;
	height: 30px;
	vertical-align: top;
	display: inline-block;
	margin-bottom: -15px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	cursor: pointer;
}
.btn-progress .bar {
	line-height: 30px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.remove {
	opacity: 0.8;
	filter: alpha(opacity=80);
	transition:.4s;
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
}
.remove:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	cursor: pointer;
	text-decoration: none;
}
.table-hover tbody tr td, .table-hover tbody tr th {
	transition:.4s;
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #d9edf7;
}
.selectable tr {
	cursor: pointer;
}
